#ifndef __REVISION_H__
#define __REVISION_H__

// 現在のシステム日時
#define __WCNOW__	"$WCNOW$"

// 作業コピーのもっとも大きいリビジョン番号
#define __WCREV__	"$WCREV$"

// もっとも大きいリビジョンのコミット日時
#define __WCDATE__	"$WCDATE$"

// ローカルで変更があれば 1 、そうでなければ 0
#define __WCMODS__	$WCMODS?1:0$

#endif  // __REVISION_H__
